@font-face {
  font-family: 'Open Sans';
  src: local(OpenSans Light), url('#{$font-path-open-sans}OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans';
  src: local(OpenSans Regular), url('#{$font-path-open-sans}OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: local(OpenSans SemiBold), url('#{$font-path-open-sans}OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  src: local(OpenSans Bold), url('#{$font-path-open-sans}OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: local(OpenSans ExtraBold), url('#{$font-path-open-sans}OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}
