$body-background-color: $background !default;
$body-size: $size-6 !default;
$body-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$body-color: $grey !default;
$body-weight: $weight-normal !default;
$body-line-height: 1.5 !default;

html {
  background-color: $body-background-color;
  font-size: $body-size;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  color: $body-color;
  font-family: $body-family;
  font-size: $body-size;
  font-weight: $weight-light;
  line-height: $body-line-height;
}

code,
pre {
  font-family: monospace;
}

body {
  color: $body-color;
  font-size: $body-size;
  font-weight: $body-weight;
  line-height: $body-line-height;
}

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

a strong {
  color: currentColor;
}

a:hover {
  color: #363636;
}

code {
  background-color: whitesmoke;
  color: #ff3860;
  font-size: $size-7;
  font-weight: $weight-normal;
  padding: 0.25em 0.5em 0.25em;
}

hr {
  background-color: #dbdbdb;
  border: none;
  display: block;
  height: 1px;
  margin: 1.5rem 0;
}

img {
  height: auto;
  max-width: 100%;
}

input[type='checkbox'],
input[type='radio'] {
  vertical-align: baseline;
}

small {
  font-size: $size-7;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  color: #363636;
  font-weight: 700;
}

pre {
  background-color: whitesmoke;
  color: #4a4a4a;
  font-size: $size-7;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal;
}

pre code {
  background-color: transparent;
  color: currentColor;
  font-size: $body-size;
  padding: 0;
}

table td,
table th {
  text-align: left;
  vertical-align: top;
}

table th {
  color: #363636;
}
