.is-flex {
  display: flex;
}

.container {
  padding-right: ($gap / 2);
  padding-left: ($gap / 2);
  margin-right: auto;
  margin-left: auto;

  @include from($desktop) {
    max-width: $desktop - 2 * $gap;
    width: $desktop - 2 * $gap;

    &.is-fluid {
      margin-left: $gap * 3;
      margin-right: $gap * 3;
      max-width: none;
      width: auto;
    }
  }

  @include until($widescreen) {
    &.is-widescreen {
      max-width: $widescreen - 2 * $gap;
      width: auto;
    }
  }

  @include until($fullhd) {
    &.is-fullhd {
      max-width: $fullhd - 2 * $gap;
      width: auto;
    }
  }

  @include from($widescreen) {
    max-width: $widescreen - 2 * $gap;
    width: $widescreen - 2 * $gap;
  }

  @include from($fullhd) {
    max-width: $fullhd - 2 * $gap;
    width: $fullhd - 2 * $gap;
  }
}
