$instagram-color: $text;
$instagram-size: $size-normal;
$instagram-weight: $weight-normal;
$instagram-height: $section-height;

.instagram {
  min-height: 600px;
  padding: $gap 0;
  position: relative;
  background-color: $feed-background-color;

  @include from($tablet) {
    padding: ($gap * 2) 0 ($gap * 2);
  }

  @include from($fullhd) {
    padding: ($gap * 3) 0 ($gap * 2);
    // min-height: $instagram-height;
  }

  &__title {
    margin-bottom: ($gap / 2);
    text-align: center;
    color: $instagram-color;
    font-weight: $instagram-weight;
    font-size: ($instagram-size * 1.25);

    @include from($desktop) {
      font-size: ($instagram-size * 1.5);
    }

    @include from($widescreen) {
      font-size: ($instagram-size * 1.75);
    }

    @include from($fullhd) {
      font-size: ($instagram-size * 2);
    }
  }

    &__subtitle {
    text-align: center;
    font-weight: $instagram-weight;
    color: $instagram-color;
    margin-bottom: ($gap * 2);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: ($gap * 2);

    &__text {
      color: $instagram-color;
      margin-bottom: $gap;
      font-size: ($instagram-size * 1.75);

      @include from($fullhd) {
        font-size: ($instagram-size * 2.5);
      }
    }
  }
}
