$logo-width: 60px !default;
$logo-heigth: 30px !default;

.sc-logo {
  display: inline-block;

  &__cheese {
    height: $logo-heigth * 1.5;
    width: $logo-width;
    vertical-align: middle;
  }

  &__typo {
    height: $logo-heigth;
    vertical-align: middle;
  }

}
