$navbar-height: 94px !default;
$navbar-color: $black !default;
$navbar-size: $size-normal !default;
$navbar-line-height: $navbar-height !default;

.nav {
  height: $navbar-height;
  background-color: #fdfdfd;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  width: 100%;

  .container {
    height: 100%;
    max-width: 920px;
    align-items: center;
    justify-content: space-between;
  }
  
  &__input {
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #262626;
    font-size: 14px;
    outline: none;
    padding: 3px 10px;
    z-index: 2;
    text-align: center;
  }

  button {
    border-radius: 3px;
  }
}
