$picture-size: $size-small !default;
$picture-color: $text-invert !default;
$picture-height: 1104px;

.picture {
  position: relative;
  overflow: hidden;
  margin: 5px;
  max-width: 302.3px;
  max-height: 302.1px;
  width: 48%;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: $black;

    img {
      opacity: 0.1;
      -webkit-transform: scale(1) rotate(180deg);
      transform: scale(1) rotate(180deg);
    }
  }

  &:hover figcaption::before,
  &:hover .picture__description {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  & > img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.12) rotate(180deg);
    transform: scale(1.12) rotate(180deg);
  }

  & > figcaption {
    padding: ($gap / 2);
    color: $picture-color;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    &::before,
    &::after {
      pointer-events: none;
    }

    &::before {
      position: absolute;
      top: 30px;
      right: 30px;
      bottom: 30px;
      left: 30px;
      content: '';
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
    }

    & {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }


    & .picture__description {
      font-size: ($picture-size);
      margin: 0 auto;
    }


    & .picture__description {
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: scale(1.5);
      transform: scale(1.5);

      span {
        margin-right: 10px;
        font-size: ($picture-size * 1.5)
      }
    }
  }
}
